<template>
  <div>
    <div class="md-layout">
      <h3 class="md-layout">Gráfico</h3>
    </div>

    <chart-card
      :chart-data="chart.data"
      :chart-options="chart.options"
      :chart-responsive-options="chart.responsiveOptions"
      :chart-type="'Bar'"
      :data-background-color="'green'"
      :on-create-chart="onCreateChart"
    >
      <template slot="content">
        <h4 class="title">Performance comercial</h4>
        <p class="category">
          {{ menorMes }} a {{ maiorMes }}
        </p>
      </template>

    </chart-card>

  </div>
</template>

<script>
// import { SimpleTable, OrderedTable } from "@/components";
import {ChartCard} from "@/components";
import Chartist from 'chartist';
import moment from 'moment';

export default {
  components: {
    // OrderedTable,
    // SimpleTable,
    ChartCard,
  },
  props: ['consultores', 'relatorioData'],
  data() {
    return {
      onCreateChart: context => {
        var targetLineY = this.projectY(context.chartRect, context.bounds, context.options.targetLine.value);

        context.svg.elem('line', {
            x1: context.chartRect.x1,
            x2: context.chartRect.x2,
            y1: targetLineY,
            y2: targetLineY
        }, context.options.targetLine.class);
      }
    };
  },
  created() {
    // console.log(this.series);
    console.log(this.relatorioData, this.custoFixoMedio);
  },
  methods: {
    projectY(chartRect, bounds, value) {
      return chartRect.y1 - (chartRect.height() / bounds.max * value)
    },
    getConsultorById(id) {
      return this.consultores.find(item => item.co_usuario == id);
    },
    getNameById(id) {
      const consultor = this.getConsultorById(id);
      return consultor ? consultor.no_usuario : '';
    },
    getSeriesDataFor(data) {
      return this.meses.map(mes => {
        const dataItem = data.find(item => item.mes_referencia == mes);
        return dataItem ? dataItem.receita_liquida : 0;
      });
    },
  },
  computed: {
    meses() {
      const meses = new Set();

      this.relatorioData.forEach((relatorio) => {
        relatorio.data.forEach((item) => {
          meses.add(item.mes_referencia);
        });
      });

      return Array.from(meses).sort();
    },
    menorMes() {
      return moment(this.meses[0], 'MM/YYYY').format('MMMM [de] YYYY');
    },
    maiorMes() {
      return moment(this.meses[this.meses.length - 1], 'MM/YYYY').format('MMMM [de] YYYY');
    },
    series() {
      const series = [];

      this.relatorioData.forEach((relatorio) => {
        series.push({
          name: this.getNameById(relatorio.consultor_id),
          data: this.getSeriesDataFor(relatorio.data),
        });
      });

      return series;
    },
    custoFixoMedio() {
      if (!this.relatorioData.length) {
        return 0;
      }
      return this.relatorioData.reduce((acc, relatorio) => {
        return acc + relatorio.data[0].custo_fixo;
      }, 0) / this.relatorioData.length;
    },
    chart() {
      return {
        data: {
          // Valor em baixo de cada barra
          // labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dec"],
          labels: this.meses,
          // tamanho das barras
          series: this.series
        },
        options: {
          targetLine: {
            value: this.custoFixoMedio,
            class: 'ct-target-line'
          },
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 32000,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 30
          },
          plugins: [
              Chartist.plugins.legend()
          ],
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      };
    }
  }
};
</script>
<style scoped>
</style>
