<template>
  <div>
    <div class="md-layout">
      <h3 class="md-layout">Pizza</h3>
    </div>

    <div class="pizza">
      <chart-card
        :chart-data="chart.data"
        :chart-options="chart.options"
        :chart-responsive-options="chart.responsiveOptions"
        :chart-type="'Pie'"
        data-background-color=""
      >
        <template slot="content">
          <h4 class="title">Participação na receita</h4>
          <p class="category">
            {{ menorMes }} a {{ maiorMes }}
          </p>
        </template>

      </chart-card>
    </div>

  </div>
</template>

<script>
import {ChartCard} from "@/components";
import Chartist from 'chartist';
import moment from 'moment';

export default {
  components: {
    ChartCard,
  },
  props: ['consultores', 'relatorioData'],
  data() {
    return {};
  },
  created() {
  },
  methods: {
    getConsultorById(id) {
      return this.consultores.find(item => item.co_usuario == id);
    },
    getNameById(id) {
      const consultor = this.getConsultorById(id);
      return consultor ? consultor.no_usuario : '';
    },
    getReceitaLiquidaTotalPara(data) {
      return data.reduce((acc, relatorio) => {
        return acc + relatorio.receita_liquida;
      }, 0);
    },
  },
  computed: {
    meses() {
      const meses = new Set();

      this.relatorioData.forEach((relatorio) => {
        relatorio.data.forEach((item) => {
          meses.add(item.mes_referencia);
        });
      });

      return Array.from(meses).sort();
    },
    menorMes() {
      return moment(this.meses[0], 'MM/YYYY').format('MMMM [de] YYYY');
    },
    maiorMes() {
      return moment(this.meses[this.meses.length - 1], 'MM/YYYY').format('MMMM [de] YYYY');
    },
    receitaLiquidaTotal() {
      return this.relatorioData.reduce((acc, relatorio) => {
        return acc + relatorio.data.reduce((acc2, data) => acc2 + data.receita_liquida, 0);
      }, 0);
    },
    series() {
      const series = [];
      const receitaTotal = this.receitaLiquidaTotal;
      // console.log('Total: ' + receitaTotal);

      this.relatorioData.forEach((relatorio) => {
        const receitaConsultor = this.getReceitaLiquidaTotalPara(relatorio.data);
        const pcConsultor = this.$options.filters.floatToMoney(100 * receitaConsultor / receitaTotal);
        // console.log('C1: ' + receitaConsultor);
        series.push({
          name: this.getNameById(relatorio.consultor_id) + ', ' + pcConsultor + '%',
          data: receitaConsultor,
        });
      });

      return series;
    },
    chart() {
      return {
        data: {
          series: this.series
        },
        options: {
          height: 300,
          plugins: [
              Chartist.plugins.legend()
          ],

          labelInterpolationFnc: () => {
            return '';
            // const data = this.data[index];
            // return Math.round(data / this.total * 100) + '%';
          }
        },
      };
    }
  }
};
</script>
<style>
.pizza .ct-chart {
  padding: 2% 0;
}
.pizza .ct-legend {
  display: flex;
  flex-direction: column !important;
  right: auto !important;
}
</style>
