<template>
  <div>
    <div class="md-layout">
      <h3 class="md-layout">Relatório</h3>
      <!-- <md-button class="md-primary" @click="loadData()">Carregar dados</md-button> -->
    </div>

    <tabela-receita v-for="(relatorio, i) in relatorioData" :relatorio="relatorio" :consultor="getConsultorById(relatorio.consultor_id)" />

  </div>
</template>

<script>
// import { SimpleTable, OrderedTable } from "@/components";
import TabelaReceita from './TabelaReceita';

export default {
  components: {
    // OrderedTable,
    // SimpleTable,
    TabelaReceita,
  },
  props: ['consultores', 'relatorioData'],
  data() {
    return {
      loading: false,
      hasLoaded: false
    };
  },
  created() {
  },
  methods: {
    getConsultorById(id) {
      return this.consultores.find(item => item.co_usuario == id);
    },
    getNameById(id) {
      const consultor = this.getConsultorById(id);
      return consultor ? consultor.no_usuario : '';
    },
  },
  computed: {

  }
};
</script>
<style scoped>
.botao-atualizar {
  /*float: left;*/
}
</style>
