<template>
  <md-card v-if="consultor">
    <md-card-header data-background-color="green">
      <h4 class="title">{{consultor.no_usuario}}</h4>
      <!-- <p class="category">Here is a subtitle for this table</p> -->
    </md-card-header>
    <md-card-content>
      <md-table>
        <md-table-row>
          <md-table-head>Período</md-table-head>
          <md-table-head>Receita Líquida</md-table-head>
          <md-table-head>Custo Fixo</md-table-head>
          <md-table-head>Comissão</md-table-head>
          <md-table-head>Lucro</md-table-head>
        </md-table-row>

        <md-table-row v-for="data in relatorio.data">
          <md-table-cell>{{ data.mes_referencia }}</md-table-cell>
          <money-table-cell :value="data.receita_liquida"></money-table-cell>
          <money-table-cell :value="data.custo_fixo" :despesa="true"></money-table-cell>
          <money-table-cell :value="data.comissao" :despesa="true"></money-table-cell>
          <money-table-cell :value="getLucro(data)"></money-table-cell>
        </md-table-row>

        <md-table-row class="md-title">
          <md-table-cell>SALDO:</md-table-cell>
          <money-table-cell :value="saldo.receita_liquida"></money-table-cell>
          <money-table-cell :value="saldo.custo_fixo" :despesa="true"></money-table-cell>
          <money-table-cell :value="saldo.comissao" :despesa="true"></money-table-cell>
          <money-table-cell :value="getLucro(saldo)" class="text-info"></money-table-cell>
        </md-table-row>
      </md-table>
    </md-card-content>
  </md-card>
</template>
<script>
import MoneyTableCell from '../MoneyTableCell.vue';

export default {
  components: {
    MoneyTableCell,
  },
  props: ['consultor', 'relatorio'],
  created() {
  },
  methods: {
    getLucro(item) {
      return parseFloat(item.receita_liquida - (item.custo_fixo + item.comissao)).toFixed(2);
    },
  },
  computed: {
    saldo() {
      let initial = {
        receita_liquida: 0,
        custo_fixo: 0,
        comissao: 0,
      };

      return this.relatorio.data.reduce((accumulator, currentValue) => {
        if (!accumulator) {
          accumulator = {};
        }
        accumulator.receita_liquida += currentValue.receita_liquida;
        accumulator.custo_fixo += currentValue.custo_fixo;
        accumulator.comissao += currentValue.comissao;
        // accumulator.lucro += this.getLucro(currentValue);
        return accumulator;
      }, initial);
    }
  }
}
</script>
