<template>
  <div>
    <form>
      <md-card>
        <md-card-header :data-background-color="dataBackgroundColor">
          <h4 class="title">Clientes</h4>
        </md-card-header>

        <md-card-content>

          <div class="md-layout" v-if="!clientes.length">
            Carregando...
          </div>

          <div class="md-layout" v-else>

            <md-card class="md-layout-item">
              <md-card-header :data-background-color="dataBackgroundColor">
                <h4>Não selecionados</h4>
              </md-card-header>

              <md-card-header-text>
                <ul>
                  <li v-for="(cliente) in naoSelecionados" :key="cliente.co_cliente">
                    <span>
                      <i class="md-icon md-icon-font md-theme-default">person</i>
                      <span>{{ cliente.no_fantasia }}</span>
                    </span>
                    <md-button class="md-icon-button md-success" @click="adicionar(cliente)" :disabled="selecionados.length >= 10">
                      <md-icon>add</md-icon>
                    </md-button>
                  </li>
                </ul>
              </md-card-header-text>

            </md-card>

            <md-card class="md-layout-item">
              <md-card-header :data-background-color="dataBackgroundColor">
                <h4>Selecionados (No máximo 10)</h4>
              </md-card-header>

              <md-card-header-text>
                <ul>
                  <li v-for="(cliente) in selecionados" :key="cliente.co_cliente">
                    <span>
                      <i class="md-icon md-icon-font md-theme-default">person</i>
                      <span>{{ cliente.no_fantasia }}</span>
                    </span>
                    <md-button class="md-icon-button md-danger" @click="remover(cliente)">
                      <md-icon>remove</md-icon>
                    </md-button>
                  </li>
                </ul>
              </md-card-header-text>

            </md-card>

          </div>

          <div class="md-layout">

            <md-card class="md-layout-item">
              <md-card-header-text>
                <h4>Período</h4>
              </md-card-header-text>

              <md-card-header-text>
                <div class="md-layout">
                  <div class="md-size-100">
                    <!--
                    <md-datepicker v-model="filtros.dt_inicio">
                      <label>Data início</label>
                    </md-datepicker>
                    -->
                    <!-- <md-field md-clearable>
                      <label>Data início</label>
                      <md-input v-model="filtros.dt_inicio" type="date" placeholder="mm/aaaa"></md-input>
                    </md-field> -->
                    <md-field class="md-layout" md-clearable>
                      <label>Data início</label>
                      <select-mes v-model="filtros.dt_inicio.mes"></select-mes>
                      <md-select v-model="filtros.dt_inicio.ano" placeholder="Ano">
                        <md-option value=""></md-option>
                        <md-option v-for="ano in 10" :value="ano + 2000">{{ ano + 2000 }}</md-option>
                      </md-select>
                    </md-field>
                  </div>
                  <div class="md-size-100">
                    <!--
                    <md-datepicker v-model="filtros.dt_fim">
                      <label>Data fim</label>
                    </md-datepicker>
                    -->
                    <!-- <md-field md-clearable>
                      <label>Data fim</label>
                      <md-input v-model="filtros.dt_fim" type="date" placeholder="mm/aaaa"></md-input>
                    </md-field> -->
                    <md-field class="md-layout" md-clearable>
                      <label>Data fim</label>
                      <select-mes v-model="filtros.dt_fim.mes"></select-mes>
                      <md-select v-model="filtros.dt_fim.ano" placeholder="Ano">
                        <md-option value=""></md-option>
                        <md-option v-for="ano in 10" :value="ano + 2000">{{ ano + 2000 }}</md-option>
                      </md-select>
                    </md-field>
                  </div>
                  <div class="md-size-20">
                    <md-button class="md-primary" @click="loadData()">Carregar dados</md-button>
                  </div>
                </div>
              </md-card-header-text>
            </md-card>

          </div>

        </md-card-content>
      </md-card>
    </form>

    <div class="content">
      <div class="md-layout-item md-large-size-100 md-medium-size-100 md-xsmall-size-100 md-size-50">

        <!-- <div v-if="!selecionados.length">
          <p class="text-danger">Selecione pelo menos 1 cliente</p>
        </div> -->
        <div v-if="error">
          <p class="text-danger">{{ error }}</p>
        </div>
        <template>
          <div v-if="loading">
            <p class="text-info">Carregando...</p>
          </div>
          <template v-else>
            <div v-if="hasLoaded && !hasData">
              <p class="text-danger">Nenhum resultado encontrado.</p>
            </div>
            <div class="md-layout botoes-relatorio" v-if="hasData">
              <div class="md-layout-item">
                <router-link to="/performance-comercial/por-cliente/relatorio">
                  <md-button :class="getButtonClasses('/performance-comercial/por-cliente/relatorio')">
                    <md-icon>assignment</md-icon> Relatório
                  </md-button>
                </router-link>
              </div>
              <div class="md-layout-item">
                <router-link to="/performance-comercial/por-cliente/grafico">
                  <md-button :class="getButtonClasses('/performance-comercial/por-cliente/grafico')">
                    <md-icon>assessment</md-icon> Gráfico
                  </md-button>
                </router-link>
              </div>
              <div class="md-layout-item">
                <router-link to="/performance-comercial/por-cliente/pizza">
                  <md-button :class="getButtonClasses('/performance-comercial/por-cliente/pizza')">
                    <md-icon>donut_small</md-icon> Pizza
                  </md-button>
                </router-link>
              </div>
            </div>

            <router-view
              v-show="hasData"
              :clientes="selecionadosAtualmente"
              :relatorioMeses="relatorioMeses"
              :relatorioClientes="relatorioClientes"
              :relatorioData="relatorioData"></router-view>

          </template>
        </template>
      </div>
    </div>
  </div>
</template>

<script>
// import locale from '../locale';
import ClienteService from '../domain/cliente/ClienteService'
import RelatorioReceitaLiquidaService from '../domain/cliente/RelatorioReceitaLiquidaService';
import SelectMes from './SelectMes';

export default {
  name: "clientes-tab",
  components: {
    SelectMes,
  },
  data() {
    return {
      relatorioData: [],
      relatorioClientes: [],
      relatorioMeses: [],
      dataBackgroundColor: 'green',

      selecionadosAtualmente: [],
      clientes: [],
      filtros: {
        dt_inicio: {
          mes: null,
          ano: null
        },
        dt_fim: {
          mes: null,
          ano: null
        },
      },
      loading: false,
      hasLoaded: false,
      error: '',
    };
  },
  created() {
    // this.$material.locale = locale;

    this.clienteService = new ClienteService(this.$resource);
    this.relatorioService = new RelatorioReceitaLiquidaService(this.$resource);

    this.clienteService.list().then(data => {
        this.clientes = this.parseClientes(data);
        // console.log(data);
    });
  },
  methods: {
    parseClientes(clientes) {
      clientes.forEach(cliente => cliente.selecionado = false);
      return clientes;
    },
    adicionar: function(cliente) {
      cliente.selecionado = true;
    },
    remover: function(cliente) {
      cliente.selecionado = false;
    },
    getButtonClasses(path) {
      return {
        'md-primary': this.$route.path == path,
        'md-default': this.$route.path != path,
      };
    },
    loadData() {
      this.error = '';
      // console.log(this.filtros);
      if (!this.selecionados.length) {
        this.error = 'Selecione pelo menos um cliente.'
        return;
      }
      this.loading = true;

      this.relatorioService.list(this.filtroCompleto).then(data => {
          this.relatorioData = data;

          // Agrupar dados para ficar mais fácil de trabalhar
          this.relatorioClientes = this.groupBy(data, 'co_cliente');
          this.relatorioMeses = this.groupBy(data, 'mes_referencia')
            //Ordernar por mês
            .sort((mes1, mes2) => {
              if (mes1.mes_referencia < mes2.mes_referencia) {
                return -1;
              }
              if (mes1.mes_referencia > mes2.mes_referencia) {
                return 1;
              }
              return 0;
            });

          console.log('relatorioMeses:');
          console.log(this.relatorioMeses);
          // console.log(this.relatorioClientes);

          this.selecionadosAtualmente = this.selecionados;

          this.loading = false;
          this.hasLoaded = true;
      });
    },
    groupBy(data, key) {
      const map = new Map();
      let items = [];

      data.forEach(item => {
        if (map.has(item[key])) {
          items = map.get(item[key]);
        }
        else {
          items = [];
        }
        items.push(item);
        map.set(item[key], items);
      });

      const result = [];

      Array.from(map.keys()).forEach((keyValue) => {
        result.push({
          [key]: keyValue,
          data: map.get(keyValue),
        });
      });

      return result;
    },
    formatDate(date) {
      if (!date.mes || !date.ano) {
        return '';
      }
      let mes = date.mes + 1;
      mes = mes.toString().length === 1 ? '0' + mes : '';

      return mes + '/' + date.ano;
      /*let month = date.getMonth() + 1;
      month = month.toString().length === 1 ? '0' + month : '';
      // console.log(month);
      return month + '/' + date.getFullYear();*/
    }
    /*somentePrimeiroDia(date) {
      return date.getDate() !== 1;
    }*/
  },
  computed: {
    selecionados() {
      return this.clientes.filter(cliente => cliente.selecionado);
    },
    naoSelecionados() {
      return this.clientes.filter(cliente => !cliente.selecionado);
    },
    selecionadosIds() {
      return this.selecionados.map(item => item.co_cliente);
    },
    filtroCompleto() {
      return {
        dt_inicio: this.formatDate(this.filtros.dt_inicio),
        dt_fim: this.formatDate(this.filtros.dt_fim),
        clientes: this.selecionadosIds,
      };
    },
    hasData() {
      return this.relatorioData.length;
    },
  }
};
</script>
<style scoped>
ul {
  padding: 0;
}
li {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  margin: 2% 0;
}
li>* {
  display: inline-block;
  /*flex-direction: column;*/
}
li>i, li>button {
  margin: 0;
}
.botoes-relatorio>.md-layout-item {
  text-align: center;
}
</style>
<style>
.md-datepicker-header {
  background-color: #4caf50 !important;
}
.md-datepicker-selected {
  background-color: #4caf50 !important;
}
</style>
<style>
.md-card-header-text ul {
  height: 300px;
  overflow-y: scroll;
}
</style>
