<template>
  <md-table-cell :class="cellClassess">
   {{ despesa ? '-' : '' }} R$ {{ value | floatToMoney }}
  </md-table-cell>
</template>
<script>
export default {
  props: ['value', 'despesa', 'maior'],
  created() {
  },
  computed: {
    cellClassess() {
      return {
        'text-danger': this.value < 0,
        'text-info': this.maior
      }
    },
  }
}
</script>
<style>
.md-table-cell-container {
  white-space: nowrap;
}
</style>
