<template>
  <md-select :value="value" @input="$emit('input', $event)" placeholder="Mês">
    <md-option value=""></md-option>
    <md-option v-for="(mes, i) in meses" :value="i">{{ mes }}</md-option>
  </md-select>
</template>
<script>
export default {
  props: ['value'],
  data() {
    return {
      meses: ["Janeiro", "Fevereiro", "Março", "Abril", "Maio", "Junho", "Julho", "Agosto", "Setembro", "Outubro", "Novembro", "Dezembro"]
    };
  }
}
</script>
<style>
.md-list-item-text {
  padding: 4px 16px !important;
}
</style>
