<template>
  <footer class="footer">
    <div class="container">
      <nav>
        <ul>
          <li>
            <a href="https://www.linkedin.com/in/gabriel-pereira-da-silva-099175147/" target="_blank">Gabriel Pereira da Silva</a>
          </li>
          <li>
            <a href="https://bitbucket.org/gabriel_gps/agence-php/" target="_blank">
              Bitbucket
            </a>
          </li>
        </ul>
      </nav>
      <div class="copyright text-center">
        &copy; {{ new Date().getFullYear() }}
        <a href="https://www.linkedin.com/in/gabriel-pereira-da-silva-099175147/" target="_blank">
          Gabriel Pereira da Silva
        </a>
      </div>
    </div>
  </footer>
</template>
<script>
export default {};
</script>
<style></style>
