<template>
  <div class="wrapper" :class="{ 'nav-open': $sidebar.showSidebar }">
    <notifications></notifications>

    <side-bar>
      <mobile-menu slot="content"></mobile-menu>
      <sidebar-link to="/performance-comercial">
        <md-icon>library_books</md-icon>
        <p>Comercial</p>
      </sidebar-link>
      <sidebar-link to="/em-construcao1">
        <md-icon>dashboard</md-icon>
        <p>Agence</p>
      </sidebar-link>
      <sidebar-link to="/em-construcao2">
        <md-icon>content_paste</md-icon>
        <p>Projetos</p>
      </sidebar-link>
      <sidebar-link to="/em-construcao3">
        <md-icon>content_paste</md-icon>
        <p>Administrativo</p>
      </sidebar-link>
      <sidebar-link to="/em-construcao4">
        <md-icon>bubble_chart</md-icon>
        <p>Financeiro</p>
      </sidebar-link>
      <sidebar-link to="/em-construcao5">
        <md-icon>person</md-icon>
        <p>Usuário</p>
      </sidebar-link>
    </side-bar>

    <div class="main-panel">
      <top-navbar></top-navbar>

      <dashboard-content> </dashboard-content>

      <content-footer v-if="!$route.meta.hideFooter"></content-footer>
    </div>
  </div>
</template>
<style lang="scss"></style>
<script>
import TopNavbar from "./TopNavbar.vue";
import ContentFooter from "./ContentFooter.vue";
import DashboardContent from "./Content.vue";
import MobileMenu from "@/pages/Layout/MobileMenu.vue";

export default {
  components: {
    TopNavbar,
    DashboardContent,
    ContentFooter,
    MobileMenu
  }
};
</script>
