<template>
  <div class="content">
    <div class="md-layout-item md-large-size-100 md-medium-size-100 md-xsmall-size-100 md-size-50">
      <h1>Em construção</h1>
      <img class="img" :src="image" />
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      image: require("@/assets/img/em-construcao.jpg")
    };
  },
};
</script>
<style>
</style>
