<template>
  <transition name="fade" mode="out-in">

        <div class="container">
          <div class="row">

            <div class="col-lg-4 col-md-6 col-sm-8 ml-auto mr-auto">
              <form class="form" method="" action="">
                <div class="card card-login">

                  <div class="card-header card-header-rose text-center">
                    <h4 class="card-title">Login</h4>
                  </div>

                  <div class="card-body">
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">email</i>
                          </span>
                        </div>
                        <input type="email" class="form-control" placeholder="Email...">
                      </div>
                    </span>
                    <span class="bmd-form-group">
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <span class="input-group-text">
                            <i class="material-icons">lock_outline</i>
                          </span>
                        </div>
                        <input type="password" class="form-control" placeholder="Password...">
                      </div>
                    </span>
                  </div>

                </div>
              </form>
            </div>

          </div>
        </div>

  </transition>
</template>
<script>
// import {StatsCard} from "@/components";

export default {
  components: {

  }
};
</script>
<style scoped>
.container {
  margin: 50px auto;
  max-width: 500px;
}
.container .card-login .card-body .input-group .form-control {
  padding-bottom: 10px;
  margin: 27px 16px 0;
}
.input-group-prepend {
  display: inline-block;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
  .fade-leave-to
    /* .fade-leave-active in <2.1.8 */

 {
  opacity: 0;
}
</style>
