<template>
  <div class="content">
    <div class="md-layout-item md-large-size-100 md-medium-size-100 md-xsmall-size-100 md-size-50">
      <router-link to="/performance-comercial/por-consultor">
        <md-button :class="getClasses('/performance-comercial/por-consultor')">
          Por Consultor
        </md-button>
      </router-link>

      <router-link to="/performance-comercial/por-cliente">
        <md-button :class="getClasses('/performance-comercial/por-cliente')">
          Por Cliente
        </md-button>
      </router-link>

      <router-view></router-view>

    </div>
  </div>
</template>

<script>
import {
  /*StatsCard,
  ChartCard,
  ,
  ,
  OrderedTable*/
  NavTabsCard,
  NavTabsTable
} from "@/components";

import ConsultoresTab from '../components/ConsultoresTab.vue';

export default {
  components: {
    /*StatsCard,
    ChartCard,
    NavTabsCard,
    NavTabsTable,
    OrderedTable*/
    NavTabsCard,
    NavTabsTable,
    ConsultoresTab
  },
  data() {
    return {
    };
  },
  created() {
    // console.log(this.$route);
  },
  methods: {
    getClasses(path) {
      return {
        'md-primary': this.$route.path.startsWith(path),
        'md-default': this.$route.path.startsWith(path),
      };
    }
  }
};
</script>
<style>
.sidebar[data-color="green"] .nav .md-list-item-container.router-link-active, .off-canvas-sidebar[data-color="green"] .nav .md-list-item-container.router-link-active {
    background-color: #4caf50 !important;
    -webkit-box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
    box-shadow: 0 12px 20px -10px rgba(76, 175, 80, 0.28), 0 4px 20px 0px rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(76, 175, 80, 0.2);
}
.sidebar .nav li .router-link-active, .off-canvas-sidebar .nav li .router-link-active {
    color: #FFFFFF !important;
}
</style>
