<template>
  <div>
    <div class="md-layout">
      <h3 class="md-layout">Gráfico</h3>
    </div>

    <chart-card
      :chart-data="chart.data"
      :chart-options="chart.options"
      :chart-responsive-options="chart.responsiveOptions"
      :chart-type="'Line'"
      :data-background-color="'green'"
    >
      <template slot="content">
        <h4 class="title">Performance comercial</h4>
        <p class="category">
          {{ menorMes }} a {{ maiorMes }}
        </p>
      </template>

    </chart-card>

  </div>
</template>

<script>
// import { SimpleTable, OrderedTable } from "@/components";
import {ChartCard} from "@/components";
import Chartist from 'chartist';
import moment from 'moment';

export default {
  components: {
    // OrderedTable,
    // SimpleTable,
    ChartCard,
  },
  props: ['clientes', 'relatorioClientes'],
  data() {
    return {
    };
  },
  created() {
    // console.log(this.series);
    console.log(this.relatorioClientes);
  },
  methods: {
    projectY(chartRect, bounds, value) {
      return chartRect.y1 - (chartRect.height() / bounds.max * value)
    },
    getClienteById(id) {
      return this.clientes.find(item => item.co_cliente == id);
    },
    getNameById(id) {
      const cliente = this.getClienteById(id);
      return cliente ? cliente.no_fantasia : '';
    },
    getSeriesDataFor(data) {
      return this.meses.map(mes => {
        const dataItem = data.find(item => item.mes_referencia == mes);
        return dataItem ? dataItem.receita_liquida : 0;
      });
    },
  },
  computed: {
    meses() {
      const meses = new Set();

      this.relatorioClientes.forEach((relatorio) => {
        relatorio.data.forEach((item) => {
          meses.add(item.mes_referencia);
        });
      });

      return Array.from(meses).sort();
    },
    menorMes() {
      return moment(this.meses[0], 'MM/YYYY').format('MMMM [de] YYYY');
    },
    maiorMes() {
      return moment(this.meses[this.meses.length - 1], 'MM/YYYY').format('MMMM [de] YYYY');
    },
    series() {
      const series = [];

      this.relatorioClientes.forEach((relatorio) => {
        series.push({
          name: this.getNameById(relatorio.co_cliente),
          data: this.getSeriesDataFor(relatorio.data),
        });
      });

      return series;
    },
    chart() {
      return {
        data: {
          // Valor em baixo de cada barra
          // labels: ["Jan", "Fev", "Mar", "Abr", "Mai", "Jun", "Jul", "Ago", "Set", "Out", "Nov", "Dec"],
          labels: this.meses,
          // tamanho das barras
          series: this.series
        },
        options: {
          height: 300,
          axisX: {
            showGrid: false
          },
          low: 0,
          high: 46000,
          chartPadding: {
            top: 0,
            right: 5,
            bottom: 0,
            left: 30
          },
          plugins: [
              Chartist.plugins.legend()
          ],
        },
        responsiveOptions: [
          [
            "screen and (max-width: 640px)",
            {
              seriesBarDistance: 5,
              axisX: {
                labelInterpolationFnc: function(value) {
                  return value[0];
                }
              }
            }
          ]
        ]
      };
    }
  }
};
</script>
<style scoped>
</style>
