<template>
  <div>
    <div class="md-layout">
      <h3 class="md-layout">Relatório</h3>
      <!-- <md-button class="md-primary" @click="loadData()">Carregar dados</md-button> -->
    </div>

    <md-card>
      <md-card-header data-background-color="green">
        <h4 class="title">Relatório</h4>
        <!-- <p class="category">Here is a subtitle for this table</p> -->
      </md-card-header>

      <md-card-content>
        <md-table>
          <md-table-row>
            <md-table-head>Período</md-table-head>
            <md-table-head v-for="nome in clientesNomes">{{ nome }}</md-table-head>
            <md-table-head>TOTAL</md-table-head>
          </md-table-row>

          <md-table-row v-for="mes in clientesReceitasPorMes">
            <md-table-cell>{{ mes.mes_referencia }}</md-table-cell>
            <money-table-cell v-for="valor in mes.clientes" :maior="mes.maior == valor" :value="valor" />
            <money-table-cell :value="mes.totalLinha" />
          </md-table-row>

          <md-table-row class="md-title">
            <md-table-cell>TOTAL:</md-table-cell>
            <money-table-cell v-for="valor in totaisColunas.valores" :value="valor" :maior="maoirTotal == valor"></money-table-cell>
            <money-table-cell :value="totaisColunas.total" />
          </md-table-row>
        </md-table>
      </md-card-content>

    </md-card>
  </div>
</template>

<script>
// import { SimpleTable, OrderedTable } from "@/components";
// import TabelaReceita from './TabelaReceita';
import MoneyTableCell from '../MoneyTableCell.vue';

export default {
  components: {
    // OrderedTable,
    // SimpleTable,
    // TabelaReceita,
    MoneyTableCell,
  },
  props: ['clientes', 'relatorioMeses', 'relatorioClientes'],
  data() {
    return {
      loading: false,
      hasLoaded: false
    };
  },
  created() {
    console.log('meses:');
    // console.log(this.clientesReceitasPorMes);
    console.log(this.totaisColunas);
  },
  methods: {
    getReceitaParaCliente(mes, cliente) {
      const data = mes.data.find(item => item.co_cliente == cliente.co_cliente);

      if (data) {
        return data.receita_liquida;
      }

      return 0;
    },
    getConsultorById(id) {
      return this.clientes.find(item => item.co_cliente == id);
    },
    getNameById(id) {
      const cliente = this.getConsultorById(id);
      return cliente ? cliente.no_usuario : '';
    },
  },
  computed: {
    clientesNomes() {
      return this.relatorioClientes.map(cliente => this.getConsultorById(cliente.co_cliente).no_fantasia);
    },
    clientesReceitasPorMes() {
      return this.relatorioMeses.map(mes => {
        const valores = this.relatorioClientes.map(cliente => this.getReceitaParaCliente(mes, cliente));
        const maiorValor = Math.max(...valores);
        const totalLinha = valores.reduce((acc, item) => acc + item);

        return {
          mes_referencia: mes.mes_referencia,
          clientes: valores,
          maior: maiorValor,
          totalLinha: totalLinha,
        };
      });
    },
    totaisColunas() {
      return this.clientesReceitasPorMes.reduce((acc, mes) => {
        mes.clientes.forEach(function (valor, i) {
            acc.valores[i] = (acc.valores[i] || 0) + valor;
        });
        acc.total += (mes.totalLinha || 0);
        return acc;
      }, {
        total: 0,
        valores: []
      });
    },
    maoirTotal() {
      return Math.max(...this.totaisColunas.valores);
    }
  }
};
</script>
<style scoped>
.botao-atualizar {
  /*float: left;*/
}
</style>
