<template>
  <md-card v-if="cliente">
    <md-card-header data-background-color="green">
      <h4 class="title">{{cliente.no_fantasia}}</h4>
      <!-- <p class="category">Here is a subtitle for this table</p> -->
    </md-card-header>

    <md-card-content>
      <md-table>
        <md-table-row>
          <md-table-head>Período</md-table-head>
          <md-table-head v-for="relatorio in mes.data">{{ cliente.no_fantasia }}</md-table-head>
        </md-table-row>

        <md-table-row v-for="data in relatorio.data">
          <md-table-cell>{{ data.mes_referencia }}</md-table-cell>
          <money-table-cell v-for="relatorio in mes.data">{{ relatorio.receita_liquida }}</money-table-cell>
        </md-table-row>

        <md-table-row class="md-title">
          <md-table-cell>SALDO:</md-table-cell>
          <money-table-cell :value="saldo" class="text-info"></money-table-cell>
        </md-table-row>
      </md-table>
    </md-card-content>

  </md-card>
</template>
<script>
import MoneyTableCell from '../MoneyTableCell.vue';

export default {
  components: {
    MoneyTableCell,
  },
  props: ['cliente', 'relatorio'],
  created() {
  },
  methods: {
  },
  computed: {
    saldo() {
      return this.relatorio.data.reduce((accumulator, currentValue) => {
        return accumulator + currentValue.receita_liquida;
      }, 0);
    }
  }
}
</script>
